.poke-list{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap:10px 10px;
    width:50vw;
}

.pagination{
    display:flex;
    flex-direction: row;
    justify-content: center;
    width:40vw;
    margin:auto;
    margin-bottom:70px;
}

.content{
    width:50vw;
    background: #fff url(https://assets.pokemon.com/static2/_ui/img/chrome/content_bg.png) left top;
    display: block;
    margin: 0 auto;
    overflow: hidden;
    padding:23px;
}