h3, h4, p{
    margin:0;
}

h3{
    font-size:1.4em;
    margin-top:11px;
}

.poke-card{
    border-radius: 10px;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    flex-basis: 23.7%;
    margin-bottom: 50px;
}

.poke-pic{
    display:flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    background-color: #F2F2F2;
    padding:13px;
    border-radius: 4px;
}

.poke-sprite{
    width:100%;
    height:100%;
}

.poke-desc{
    width:90%;
    margin:auto;
    text-transform: capitalize;
}

.poke-type{
    width:100%;
    font-size:0.8rem;
    text-align: center;
    line-height: 18px;
    border-radius: 3px;
    margin:3px;
}

.type-container{
    display:flex;
    flex-direction: row;
}

.water{
    background-color: #4592C4;
    color:white;
}
.fire{
    background-color:#FD7D25;
    color:white;
}
.grass{
    background-color:#9CCC50;
    color:black;
}
.bug{
    background-color: #729F3F;
    color:white;
}
.normal{
    background-color:moccasin;
}
.poison{
    background-color: #B97FCA;
    color:white;
}
.electric{
    background-color:gold;
}
.ground{
    background-color:burlywood;
}
.fairy{
    background-color: lightpink;
}
.fighting{
    background-color:sandybrown;
}
.flying{
    background-color: #3DC7EF;
    color:black;
}
.psychic{
    background-color:mediumpurple;
}
.rock{
    background-color:silver;
}
.ghost{
    background-color: lavender;
}